.withbg-jon-mobile {
    background: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/bg/bg-1.jpg) no-repeat;
    background-size: cover;
}

.withbg-jon {
    background: url(https://preview.keenthemes.com/metronic/theme/html/demo1/dist/assets/media/bg/bg-1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.bg-login{
  background: url(/images/pola_login.png) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}

.ant-input-affix-wrapper {
    border-radius: 5px !important;
}

.ant-input {
    border-radius: 5px !important;
    padding: 0px 20px;
}

.dropdownFilterWhite {
    background: #fff;
    /* border: 1px solid #33539E; */
    box-sizing: border-box;
    border-radius: 20px;
    padding: 4px 20px;
    color: rgba(0, 0, 0, 0.65);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
