.mobileBody {
  background-color: #f7f7f7;
  width: 480px;
  height: 100vh;
  margin: 0 auto auto;
}
.mobileBodyWhite {
  background-color: #fff;
  width: 480px;
  height: 100vh;
  margin: 0 auto auto;
}
